.input-wrapper {
    margin-top: 20px;
  }
  
  /* Input style */
  
  /* Label */
  label {
    font-weight: 600;
    font-size: 18px;
    color: #344054;
    display: block;
    margin-bottom: 8px;
  }
  
  /* Input field */
  input {
    font-size: 16px;
    font-weight: 400;
    width: 250px;
    color: #344054;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
  }
  
  input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #667085;
  }
  
  /* Input field focus 
  input:focus {
  }*/
  
  .error {
    color: #db4437;
    font-size: 14px;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 4px;
  }