footer {
    background-color: #fff;
    padding: 16px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #000;
    text-decoration: underline;
}

footer.copyright {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 8px;
    }
}